<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    lang="en">

    <head th:include="layout :: htmlhead"></head>

<style>

  body{
    background-color:gray;
  }
  
  td th:text{
    background-color:white;
  }

  .form-group {
    margin-bottom: 25px;
    font-size: 25px;
  }
      
  .btn-primary:hover {
    background-color: orange;
  }

  #carouselExampleIndicators{
    width: 500px;
    height: 500px;
    margin: 25px 160px;
  }

  h1{
    margin: 25px 100px;
  }

</style>

    <body>
        <nav th:replace="layout :: menu">(menu)</nav> 

        <h1 class="fst-italic">Olá Administrador, seja bem vindo!</h1>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img th:src="@{/icons/infograficoGestao.png}" class="d-block w-100" alt="infografico">
            </div>
            <div class="carousel-item">
              <img th:src="@{/icons/+GESTAO.png}" class="d-block w-100" alt="LogoEmpresa">
            </div>
            <div class="carousel-item">
              <img th:src="@{/icons/download.png}" class="d-block w-100" alt="download">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>