<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    lang="en">

    <head th:include="layout :: htmlhead"></head>

<style>

  body{
    background-color:gray;
  }
  
  td th:text{
    background-color:white;
  }

  .form-group {
    margin: 20px;
    font-size: 20px;
  }
      
  .btn-primary:hover {
    background-color: orange;
  }

  .form-control{
    border-color:orange;
    border-radius: 5px;
    background-color:#A3A3A1;
    margin: 5px;
    padding: 10px;
  }

</style>
    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">
            <!-- <form th:action="@{/bem/(form)}" method="POST" th:object="${bem}"> -->
                    <form th:action="@{/depreciacao/save}" method="POST" th:object="${depreciacao}">

                        <!-- <input type="hidden" th:field="*{id}"> -->
                        <input type="hidden" th:field="*{idDepreciacao}">

                        <!-- <div class="form-group">
                            <label for="txtNmMarca">Nome Marca</label>
                            <input type="text" class="form-control" th:field="*{nmMarca}" id="txtNmMarca">
                        </div> -->
                        <div class="form-group">
                            <label for="txtBemDepreciado">Bem Depreciado</label>
                            <select type="text" class="form-control" th:field="*{bemDepreciado}" id="txtBemDepreciado">
                                <option
                                    th:each="umBem : ${listaBem}"
                                    th:value="${umBem.idBem}"
                                    th:text="${umBem.idBem}"
                                ></option>
                            </select>
                        </div>

                        <!-- <div class="form-group">
                            <label for="txtNmMarca">Nome Marca</label>
                            <input type="text" class="form-control" th:field="*{nmMarca}" id="txtNmMarca">
                        </div> -->
                        <div class="form-group">
                            <label for="txtDtDepreciacao">Data Depreciação</label>
                            <input type="date" class="form-control" th:field="*{dtDepreciacao}" id="txtDtDepreciacao">
                        </div>

                        <!-- <div class="form-group">
                            <label for="txtNmMarca">Nome Marca</label>
                            <input type="text" class="form-control" th:field="*{nmMarca}" id="txtNmMarca">
                        </div> -->
                        <div class="form-group">
                            <label for="txtVlAntesDepreciacao">Valor Antes da Depreciação</label>
                            <input type="text" class="form-control" th:field="*{vlAntesDepreciacao}" id="txtVlAntesDepreciacao">
                        </div>

                        <!-- <div class="form-group">
                            <label for="txtNmMarca">Nome Marca</label>
                            <input type="text" class="form-control" th:field="*{nmMarca}" id="txtNmMarca">
                        </div> -->
                        <div class="form-group">
                            <label for="txtVlDepreciado">Valor Depreciado</label>
                            <input type="text" class="form-control" th:field="*{vlDepreciado}" id="txtVlDepreciado">
                        </div>

                        <!-- <div class="form-group">
                            <button type="submit" class="btn btn-primary"> Enviar </button>
                        </div> -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-dark">Enviar</button>
                            <a href="/depreciacao" class="btn btn-danger">Cancelar</a>
                        </div>
                    </form>
                </main>
            </div>
            <div th:include="layout :: footer">(footer)</div>
        </body>
    </html>